.sort-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-header {
    & div {
        display: flex;
    }
}

.arrow-icon {
    font-size: 20px;
    padding: 0 4px;
    cursor: pointer;

    &:nth-child(2) {
        margin-top: 10px;
    }
}

.custom-btn-login,
.custom-btn-logout,
.custom-file-input,
.custom-btn-info,
.custom-btn-delete {
    outline: none;
    border: 1px solid transparent;
    padding: 6px;
    min-width: 108px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    background-color: blueviolet;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.custom-btn-login {
    background-color: #3defe9;
}

.custom-btn-info {
    background-color: #97c0f6;
}

.custom-btn-delete {
    background-color: rgb(236, 97, 97);
}

.custom-btn-logout {
    background-color: #e6ba1f;
}

.icon {
    color: #fff;
}
