* {
    box-sizing: border-box;
    user-select: none;
}

// Custom pagination
.pagination {
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none !important;
    color: #333 !important;
}

.nav-link a.active {
    color: blueviolet !important;
    text-shadow: 0 0 1px #333;
}
